/* style.css */

body {
    display: flex;
}

/* Adicione estilos para a classe sidebar */
#sidebar {
    border-right: 1px solid #ccc; /* Adicione uma borda à direita */
    padding-right: 50px; /* Adicione espaçamento à direita */
}

#content {
    flex-grow: 1;
    padding: 20px;
}

#sidebar a {
    display: block;
    margin-bottom: 10px; /* Adicione espaçamento entre os links */
}
